<h1>Create a Team and Heroes!</h1>
<form action="/super_hero" method="post">
  <label for="team_name">Team Name:</label>
  <input type="text" name="team[name]"><br>
  <label for="team_motto">Team Motto:</label>
  <input type="text" name="team[motto]"><br>


<h2>Hero 1</h2>
  <label for="super_hero_1_name">Name:</label>
  <input id="member1_name" type="text" name="team[super_hero][][name]"><br>
  <label for="super_hero_1_power">Power:</label>
  <input id="member1_power" type="text" name="team[super_hero][][power]"><br>
  <label for="super_hero_1_biography">Biography:</label>
  <input id="member1_biography" type="text" name="team[super_hero][][biography]"><br>

<h2>Hero 2</h2>
  <label for="super_hero_2_name">Name:</label>
  <input id="member2_name" type="text" name="team[super_hero][][name]"><br>
  <label for="super_hero_2_power">Power:</label>
  <input id="member2_power" type="text" name="team[super_hero][][power]"><br>
  <label for="super_hero_2_biography">Biography:</label>
  <input id="member2_biography" type="text" name="team[super_hero][][biography]"><br>

<h2>Hero 3</h2>
  <label for="super_hero_3_name">Name:</label>
  <input id="member1_name" type="text" name="team[super_hero][][name"><br>
  <label for="super_hero_3_power">Power:</label>
  <input id="member1_power" type="text" name="team[super_hero][][power]"><br>
  <label for="super_hero_3_biography">Biography:</label>
  <input id="member1_biography" type="text" name="team[super_hero][][biography]"><br>
  <input type="submit" name="submit">
</form>
